<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aplicativo.teclibras">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoteclibras_nova"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoteclibras_nova_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainTheme"/>
        <service
            android:name=".TecLibras"
            android:label="TecLibras"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>
    </application>

</manifest>

